.maincontainer {
  width: 700px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.555);
  padding: 10px;
  border-radius: 18px 0px 18px 0px;
  box-shadow: 5px 5px 20px black;
  font-family: 'Maven Pro', sans-serif; }
  .maincontainer .box {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: 'Maven Pro', sans-serif; }
    .maincontainer .box .watch {
      width: 90%;
      height: auto;
      border-radius: 30px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 10px; }
      .maincontainer .box .watch .stwatch {
        background-color: rgba(121, 121, 121, 0.164);
        width: 130px;
        height: 110px;
        padding: 20px;
        border-radius: 10px;
        font-size: 100px;
        text-align: center;
        margin: auto;
        box-shadow: inset 2px 2px 3px black,inset -2px -2px 3px black; }
    .maincontainer .box .bt {
      display: flex;
      margin-top: 10px;
      justify-content: space-around; }
      .maincontainer .box .bt .btn {
        border: 1px solid black;
        border-radius: 10px;
        font-size: 18px;
        padding: 5px;
        outline: none;
        font-family: 'Maven Pro', sans-serif; }
        .maincontainer .box .bt .btn:nth-child(1) {
          background-color: rgba(0, 128, 0, 0.5); }
          .maincontainer .box .bt .btn:nth-child(1):hover {
            background-color: rgba(128, 255, 128, 0.5); }
          .maincontainer .box .bt .btn:nth-child(1):disabled {
            background-color: rgba(0, 128, 0, 0.5);
            color: rgba(248, 7, 7, 0.972); }
        .maincontainer .box .bt .btn:nth-child(2) {
          background-color: rgba(255, 0, 0, 0.5); }
          .maincontainer .box .bt .btn:nth-child(2):hover {
            background-color: rgba(255, 102, 102, 0.5); }
          .maincontainer .box .bt .btn:nth-child(2):disabled {
            background-color: rgba(255, 0, 0, 0.5);
            color: rgba(0, 0, 0, 0.972); }
        .maincontainer .box .bt .btn:nth-child(3) {
          background-color: rgba(0, 0, 255, 0.5); }
          .maincontainer .box .bt .btn:nth-child(3):hover {
            background-color: rgba(102, 102, 255, 0.5); }
          .maincontainer .box .bt .btn:nth-child(3):disabled {
            background-color: rgba(0, 0, 255, 0.5);
            color: rgba(255, 255, 255, 0.972); }
        .maincontainer .box .bt .btn:nth-child(4) {
          background-color: rgba(15, 228, 199, 0.5); }
          .maincontainer .box .bt .btn:nth-child(4):hover {
            background-color: rgba(12, 180, 157, 0.5); }
          .maincontainer .box .bt .btn:nth-child(4):disabled {
            background-color: rgba(15, 228, 199, 0.5);
            color: rgba(0, 0, 0, 0.972); }
  .maincontainer .lapchart {
    width: 150px;
    margin: 20px;
    height: auto;
    border-radius: 20px;
    padding: 6px;
    text-align: center;
    background-color: #7d7dd1;
    box-shadow: inset 2px 2px 20px #818080, inset -2px -2px 20px silver;
    font-family: 'Maven Pro', sans-serif; }

/*# sourceMappingURL=main.css.map */
